* {
  box-sizing: border-box;
}

div,
p,
article {
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
}

.book-list,
.book-update {
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}

.book-list {
  border: 1px solid #000;
}

.book-item {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-item:nth-child(odd) {
  background-color: #CCC;
}

.remove-btn {
  padding: 0 20px;
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: 2px 2px #000;
}

.book-update {
  text-align: center;
}

.add-book-form input {
  margin: 2px 0;
  padding: 5px 10px;
  width: 100%;
}

.add-book-form button {
  float: right;
  margin: 2px 0;
  padding: 0 20px;
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: 2px 2px #000;
}
