* {
  box-sizing: border-box;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.full-width {
  width: 100%;
  max-width: 400px;
}

.border {
  border: 1px solid #000;
}

body {
  height: 95vh;
  gap: 20px;
}

div,
p,
article {
  margin: 0;
  padding: 0;
}

.heading,
.note-text {
  text-align: center;
}

.book-item {
  width: 100%;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-item:nth-child(odd) {
  background-color: #ccc;
}

.remove-btn {
  padding: 0 20px;
  background-color: #fff;
  box-shadow: 2px 2px #000;
}

.book-update {
  margin-top: 30px;
  text-align: center;
}

.add-book-form input {
  margin: 2px 0;
  padding: 5px 10px;
  width: 100%;
}

nav ul li button {
  box-sizing: unset;
  padding: 0;
  border-style: none;
  background-color: unset;
  cursor: pointer;
}

.add-book-form button {
  float: right;
  margin: 2px 0;
  padding: 0 20px;
  background-color: #fff;
  box-shadow: 2px 2px #000;
}

.seperator {
  height: 20px;
  width: 1px;
}

nav {
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
}

nav ul {
  width: 40%;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
}

#date {
  margin-left: auto;
}

#contact-sub-text {
  width: 70%;
}

#contact-info {
  width: 70%;
}

footer {
  margin-top: auto;
  padding: 10px;
}
